<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.splitreceipt.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScanCropImageActivity"/>
        <activity android:name=".SettleGroupActivity" />
        <activity android:name=".NewParticipantInviteActivity" />
        <activity android:name=".WelcomeJoinActivity" />
        <activity android:name=".GroupSettingsActivity" />
        <activity android:name=".ExpenseViewActivity" />
        <activity android:name=".BalanceOverviewActivity" />
        <activity android:name=".CurrencySelectorActivity" />
        <activity android:name=".NewGroupCreation" />
        <activity android:name=".GroupScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExpenseOverviewActivity" />
        <activity android:name=".NewExpenseCreationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.splitreceipt.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>